#instagram-link, #instagram-link:hover {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#instagram-link img, #instagram-link img:hover  {
  max-width: 23px !important;
  max-height: 23px !important;
}