<section id="intro">

    <section class="article">
    <h2>Intro</h2>
    <p>In common language, labelling refers to&nbsp;the abstract categorization of objects and individuals. From the literal labelling of laboratory samples, to the labels attached to artworks, partitions are created. By metonymy, on a social level, the labelling consists in the formation of social constructs that produce ex&shy;clusion. If labels have an organizing and structuring function, they also participate in the limitation of scopes. By putting a label on an object, an individual, or a practice, we embed <br/>it in a particular realm, disconnec&shy;ting it from any other realm. </p>
    <p>Far from separating art from science, the LABORATORIUM/Color Biolab is an invitation to rethink the very idea of par&shy;titions and labels as well as an oc&shy;casion for art and science to interact and conflate. Started in 2016 and conducted by biologist María Boto<br/>Ordóñez and shoe designer Kristel Peters, the LABORATORIUM/Color Biolab has explored, beyond the scope of biocoloring, the intertwining of art/ design and biotechnologies, working towards a more unified field of study, breaching the usual science/art dicho&shy;tomy. Guided by the two researcher’s expertise, artists and students of KASK have been invited over the last four years to take part in the Colorlab pro&shy;ject, to participate in the develop&shy;ment of&nbsp;the research and to explore their own practice. Many occasions and experi&shy;ments have arisen through the interac&shy;tion between artistic practices and biology, from workshops to artworks. Not only has this initiative given the opportunity for artists to grow their <br/>own material and pigments, it has also&nbsp;inscribed their practice in a more sustainable, biodegradable process. </p>
    <p>From a place of scrutiny, asepticised, secluded and reserved for scientific purposes, the Colorlab has become, over the years, an annex to the artist’s studio, if not an essential part of it. The research has opened a transdisci&shy;plinary approach to both art and scien&shy;ce, producing bilateral oppor&shy;tu&shy;nities to thrive and to learn. The symbiotic relationship deriving from this bipolar project, has pushed us to reconsider our use of spaces and to rethink the labels long attributed, therefore making the partition between the artistic and the&nbsp;scientific more permeable. </p>
    <p>Set astride two distinct entities, the LABORATORIUM/Color Biolab has given the laboratory the occasion to open up and assume its full meaning of “a pla&shy;ce providing opportunity for experi&shy;men&shy;tation, observation, or practice in a field of study<sup>1</sup>”. The partitions have yielded, the labels no longer stand and through the locus itself, the antagonism of art and science has disappeared to make room for a common space, a common practice. </p>
    <p class="credit"><sup>1</sup> Merriam Webster Dictionary, s.v . “Laboratory” and it refers to this quote “a place providing opportunity for experimentation, observation, or practice in a field of study1”. </p>
    </section>
</section>