{% extends "base.html" %}
{% block content %}
<div id="content" class="page">
	<h2>{{ page.title }}</h2>
	{{ page.content }}
</div>
<style>
	{% if page.slug == 'colorlab' %}
	:root {	
  		--background-color: blueviolet;
	}
	{% elif page.slug == 'laboratorium' %}
	:root {	
  		--background-color: rgb(127, 168, 177);
	}
	{% endif %}
</style>
{% endblock %}
