:root {	
  --background-color: blueviolet;
  --background-color: darkblue;
  --header-color-one: black;
  --header-color-two: var(--murex);
  --header-color-three: var(--murex);
  --header-color-four: black;
}