:root {
  --background-color: #f96245;
  --blocking-background-color: white;
  --header-color-mono: darkred;

  --header-color-one: red;
  --header-color-two: darkred;
  --header-color-three: darkgreen;
  --header-color-four: darkred;
}

#colors {
  --background-color: var(--pluvialis);
}