/* réinitialisations de base, ne pas toucher */

* {
  margin: 0;
  padding: 0;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  page-break-inside: avoid;
}

/* liens vers la typo */

@font-face {
  font-family: 'herschey-complex';
  src: url('../fonts/hershey-webfont/avhersheycomplexmedium-webfont.woff2') format('woff2'), url('hershey-webfont/avhersheycomplexmedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'herschey-noaille-futura';
  src: url('../fonts/webfonts/hershey-noailles-futuram-webfont.woff2') format('woff2'), url('fonts/webfonts/hershey-noailles-futuram-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'armata';
  src: url('fonts/webfonts/armata-regular-webfont.woff2') format('woff2'), url('fonts/webfonts/armata-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hershey futura light';
  src: url('../fonts/futuraLightAngled.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #9F5881;
  --blocking-background-color: white;
  --color-research: green;
  --chelodonium: #E1A800;
  --pluvialis: #ED7B3C;
  --spiruline: #43905a;
  --murex: #9F5881;
  --salina: #CC6052;
  --arthrospira: rgb(192, 204, 255);
  --header-shadow-distance: .13ex;
  --header-color-one: black;
  --header-color-two: black;
  --header-color-three: black;
  --header-color-four: black;
}

body {
  font-family: 'herschey-noaille-futura';
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  margin-bottom: 1em;
  color: transparent;
  font-family: 'hershey futura light';
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px black, var(--header-shadow-distance) 0px 0px black, 0px var(--header-shadow-distance) 0px black;
  letter-spacing: .5ex;
  font-weight: normal;
  font-size: 125%;
  margin-top: -1.75em;
  margin-bottom: 1em;
}

h2 {
  font-size: 110%;
  margin-top: 26px;
  margin-bottom: 2px;
  font-family: 'hershey futura light';
  color: transparent;
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px var(--header-color-one), 0px calc(-1 * var(--header-shadow-distance)) 0px var(--header-color-two), var(--header-shadow-distance) 0px 0px var(--header-color-three), 0px var(--header-shadow-distance) 0px var(--header-color-four);
  margin-bottom: 6px;
}

h3 {
  font-size: 12pt;
  text-decoration: underline;
  margin: 10px 0px 15px 0px;

  /* background-color: blue;
  padding: 3px;
  color: white;
  width: 92%; */
}

p {
  font-size: 15pt;
  line-height: 1.25em;
  letter-spacing: -0.03em;
}

.section {
  display: inline-block;
  width: 33%;
  /* min-height: 100vh; */
  vertical-align: top;
  padding: 3.5em 20px 0 20px;
  position: relative;
}

h1 {
  margin-top: 0px;
}


a, p.credit {
  text-decoration: none;
  color: inherit;
  font-size: 12pt;
  font-weight: bold;
}

ul {
  margin-right: 15px;
}

ul li {
  list-style: none;
  line-height: 1.05em;
  font-size: 11.5pt;
}

.event_date, .event_dates {
  font-size: 12.5pt;
  margin-bottom: 1em;
}


.event_dates li {
  margin: .25em 0 0 0;
}

.event_dates li:before {
  content: '- ';
}

img.hidden {
  visibility: hidden;
}

@page {
  size: 105mm 297mm;
}

@page:right {
  margin: 8mm 8mm 8mm 15mm;
}

@page:left {
  margin: 8mm 15mm 8mm 8mm;
}

@media all {

  a, p.credit {
    text-decoration: none;
    color: inherit;
    font-size: 12pt !important;
    font-weight: bold;
  }

  section#intro p {
    /* color: blue; */
    font-size: 16pt;
    font-weight: bold;
  }

  section.section-intro  p {
    font-size: 16pt;
    font-weight: bold;

  }
  section#colorlab section.section-intro  p {
    /* color:#9F5881; */
  }
  section#activities section.section-intro p {
    /* color:#f96245; */
  }
  section#projects section.section-intro  p {
    /* color:#00b386; */
  }
  section#laboratorium section.section-intro  p {
    /* color: var(--arthrospira); */
  }
  section#colophon p {
    font-weight: bold;
  }
  section.article {
    clear: both;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-break-inside: avoid;
    height: calc( 1.4 * 0.5 * (297mm - 16mm));
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #intro section.article {
    display: block;
  }

  #projects section.article {
    height: calc( 1.455 * (297mm - 16mm));
  }
  #projects section.article:nth-of-type(11) {
    height: calc( 1.5 * (297mm - 16mm));
    }

  #activities section.article {
    height: calc( 1.4 * 0.5 * (297mm - 16mm));
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #activities section.article:last-of-type {
    height: calc( 2 * 0.7 * (297mm - 16mm));
  }
  #activities section.article:nth-of-type(39) {
    height: calc(2 * 0.7 * (297mm - 16mm));
  }

  #colorlab section.article {
    /* display: block; */
    height: calc( 1.4 * 0.2 * (297mm - 16px));
    /* align-items: flex-start; */
  }
  #colorlab section.article:nth-of-type(17) {
    height: calc( 1.4 * 0.18 * (297mm - 16px));
  }
  #colorlab section.article:nth-of-type(18) {
    height: calc( 1.4 * 0.18 * (297mm - 16px));
  }
  #colorlab section.article:nth-of-type(19) {
    height: calc( 1.4 * 0.18 * (297mm - 16px));
  }
  #colorlab section.article:nth-of-type(20) {
    height: calc( 1.4 * 0.18 * (297mm - 16px));
  }
  #colorlab section.article:nth-of-type(21) {
    height: calc( 1.4 * 0.15 * (297mm - 16px));
  }
  #colorlab section.article:nth-of-type(22) {
    height: calc( 1.4 * 0.15 * (297mm - 16mm));
  }
  #colorlab section.article:nth-of-type(23) {
    height: calc( 1.4 * 0.18 * (297mm - 16mm));
  }
  #colorlab section.article:nth-of-type(24) {
    height: calc( 1.4 * 0.19 * (297mm - 16mm));
  }
  #colorlab section.article:nth-of-type(25) {
    height: calc( 1.4 * 0.18 * (297mm - 16mm));
  }
  #colorlab section.article:nth-of-type(26) {
    height: calc( 1.4 * 0.23 * (297mm - 16mm));
  }
  #colorlab section.article:nth-of-type(27) {
    height: calc( 1.4 * 0.22 * (297mm - 16mm));
  }
  /* #colorlab section.article:nth-of-type(26) {
    height: calc( 1.4 * 0.25 * (297mm - 16px));
  } */
  #colorlab section.article:nth-of-type(35) {
    height: calc( 1.4 * 0.4 * (297mm - 16px));
  }
  #colorlab section.article:nth-of-type(41) {
    height: calc( 1.4 * 0.18 * (297mm - 16mm));
  }
  #colorlab section.article:nth-of-type(45) {
    height: calc( 1.4 * 0.25 * (297mm - 16px));
  }
  #colorlab section.article:nth-of-type(46) {
    height:   calc( 1.4 * 0.18 * (297mm - 16mm));
  }

  #colorlab section.article:last-of-type,
  #colorlab section.article:nth-of-type(50),
  #colorlab section.article:nth-of-type(49),
  #colorlab section.article:nth-of-type(48) {
    display: none;
  }

  #laboratorium section.article:last-of-type {
    display: none;
  }

  #colorlab figure {
    position: relative;
  }

  section.article * {
    flex: 0 0 auto;
  }

  section.article figure {
    flex: 1 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: .5em;
    margin-right: .5em;
  }

  sup {
    line-height: 0;
  }

  section.article figure img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  /* section.article[data-slug=""], */
  section.article[data-slug="algae-3d-printing"],
  section.article[data-slug="domum-fidelem-tardigrade"],
  section.article[data-slug="relict-of-a-tropical-princess"],
  section.article[data-slug="algae-publication-osp"],
  section.article[data-slug="waso-write-a-science-opera"],
  section.article[data-slug="handbag-of-bacterial-land"],
  section.article[data-slug="microalgae-pigments"],
  section.article[data-slug="pigment-extraction-at-liwet"] {
    display: block;
  } 

  /* section.article[data-slug=""] figure img, */
  section.article[data-slug="algae-3d-printing"] figure img,
  section.article[data-slug="domum-fidelem-tardigrade"] figure img,
  section.article[data-slug="relict-of-a-tropical-princess"] figure img,
  section.article[data-slug="algae-publication-osp"] figure img,
  section.article[data-slug="waso-write-a-science-opera"] figure img,
  section.article[data-slug="handbag-of-bacterial-land"] figure img,
  section.article[data-slug="pigment-extraction-at-liwet"] figure img,
  section.article[data-slug="pigment-extraction-at-liwet"] figure img {
    object-fit: none;
    width: initial;
    height: initial;
  }

  #projects section.article figure {
    margin-bottom: 1em;
  }

  #projects p {
    font-size: 16pt;
  }
  p {
    font-size: 12pt;
    hyphens: manual;
  }

  p.header + p, p + p {
    text-indent: 24px;
  }

  h1 {
    font-size: 200%;
    transform: rotate(-90deg);
    transform-origin:right bottom ;
    break-after: always;
    page-break-after: always;
    -webkit-break-after: always;
    break-before: always;
    page-break-before: always;
    -webkit-break-before: always;
    /* visibility: hidden; */
    display: none;
  }

  section.section-intro {
    break-after: always;
    page-break-after: always;
    -webkit-break-after: always;
    break-before: always;
    page-break-before: always;
    -webkit-break-before: always;
    position: relative;
  }
/*
  section#activities section{
    break-after: always;
    page-break-after: always;
    -webkit-break-after: always;
  } */

  section#colophon {
    break-before: always;
    page-break-before: always;
    -webkit-break-before: always;
  }
  #colophon h2,
  #intro h2 {
    font-size: 220%;
    text-transform: lowercase;
    letter-spacing: 0.25em;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    position: absolute;
    top: -2.2em;
    right: 0;
  }

  #colophon section,
  #intro section {
    position: relative;
  }

  #intro section.article {
    padding-top: 310pt;
  }

  #colophon section {
    padding-top: 340pt;
  }

  section#colophon section.article h2{
    break-before: always;
    page-break-before: always;
    -webkit-break-before: always;

  }
  div.wrapper-section-intro {
    position: absolute;
    bottom:  0;
  }

  div.wrapper-section-intro h1 {
    display: none;
  }

  h2 {
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  img {
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
  }

  a:after {
   content:  " → " attr(href);
   hyphens: none;

  }

  .event_dates {
    display: none;
  }

  span.article_date {
    margin-top: 34px;
    margin-bottom: -1em;
    font-weight: bold;
    font-size: 12pt;
  }
  section#colophon section.article {
    height: calc(1.8 * 1 * (297mm - 16px));
  }
  section#intro section.article {
    height: calc(2 * 0.9 * (297mm - 16px));
  }

  section.category-cover {
    page-break-before: always;
    height: calc(2 * 0.9 * (297mm - 16px));
    font-size: 300%;
  }

  figure img {
    display: none;
  }
  #colophon .article figure {
  }
  figure img:first-child,
  #colophon .article figure:nth-of-type(n+2),
  #colophon .article figure img   {
    display: block;
  }
  #colophon .article figure:nth-of-type(2) img {
    object-fit: contain;
  }
  .article figure:nth-of-type(n+2) {
    display: none
  }


  .insert-page-after:after {
    display: block;
    height: calc(0.9 * (297mm - 16px));
    page-break-after: always;
    page-break-before: always;
    content: "";
  }

  .make-page-break {
    height: calc(0.9 * (297mm - 16px));
    break-inside: avoid;
    page-break-after: always;
  }

}
