<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles-main.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/insta-fix.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock head %}
</head>

<body>
    <div id="menu" class="patterned">
      <ul>
        <li class="patterned-background"><a href="index.html">Index</a></li>
        <li class="patterned-background"><a href="laboratorium.html">laboratorium</a></li>
        <li class="patterned-background"><a href="colorlab.html">Colorlab</a></li>
        <li class="patterned-background"><a href="projects.html">Projects</a></li>
        <li class="patterned-background"><a href="activities.html">Activities</a></li>
      </ul>
      <a href="https://www.instagram.com/laboratorium.bio/" id="instagram-link"><img src="{{ SITEURL }}/theme/images/instagram-glyph.png" ></a>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{{ SITEURL }}/theme/js/backgrounds.js"></script>
    <script src="{{ SITEURL }}/theme/js/imageGallery.js"></script>
    <script>
      window.addEventListener('load', initBackgrounds());
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
