/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
    /*color: blue;*/
}

/* liens vers la typo */
@font-face {
    font-family: 'herschey-complex';
    src: url('fonts/hershey-webfont/avhersheycomplexmedium-webfont.woff2') format('woff2'),
         url('fonts/hershey-webfont/avhersheycomplexmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'herschey-noaille-futura';
    src: url('fonts/webfonts/hershey-noailles-futuram-webfont.woff2') format('woff2'),
         url('fonts/webfonts/hershey-noailles-futuram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'armata';
    src: url('fonts/webfonts/armata-regular-webfont.woff2') format('woff2'),
         url('fonts/webfonts/armata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'hershey futura light';
  src:url('fonts/futuraLightAngled.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-research: green;
  --chelodonium: #E1A800;
  /*--pluvialis: #ED7B3C;*/
  --pluvialis: #ed9f3c;
  /*--spiruline:#43905a;*/
  --spiruline:#00b386;
  --murex:#9F5881;
  /*--salina: #CC6052;*/
  --salina: #f96245;
  --header-shadow-distance: .13ex;
  --bleu: #0039e1;
}


#colors {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 30vh;
}

#colors div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#colors div:nth-of-type(1) {
  background: repeating-linear-gradient(17deg, blueviolet, blueviolet 1px, transparent 1px,transparent 5px);
}

#colors div:nth-of-type(2) {
  background: repeating-linear-gradient(17deg, blue, blue 1px, transparent 1px,transparent 5px);
}

#colors div:nth-of-type(2) {
  background: repeating-linear-gradient(17deg, slateblue, slateblue 1px, transparent 1px,transparent 5px);
}

#menu {
  background: repeating-linear-gradient(17deg, seagreen, seagreen 1px, transparent 1px,transparent 4px);
}

#menu ul li {
    font-size: 12pt;
    display: inline-block;
    margin-right: 30px;
    font-family: 'herschey-noaille-futura';
    text-transform: lowercase;
    font-weight: bold !important;
    background: white;
    padding: 4px 2px 2px 2px;
}


li {
  /* background: repeating-linear-gradient(17deg, orangered, orangered 1px, transparent 1px,transparent 4px); */
  /*padding: 10px;*/
  margin: 10px;
}

body {
  font-family: 'herschey-noaille-futura';

}
h1, h2, h3 {
  font-family: 'herschey-noaille-futura';
  font-weight: normal;


}
h1 {
  font-size: 180%;

}
.projects h2 {
  font-size: 150%;
  text-transform: uppercase;


}
h1, .projects h2 {
  color: transparent;
  font-family: 'hershey futura light';
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px black, var(--header-shadow-distance) 0px 0px black, 0px var(--header-shadow-distance) 0px black;
  letter-spacing: .35ex;
  font-weight: normal;
  margin-top: -2em;
  margin-bottom: 1em;
  text-align: center;
}
/*h1.colored, h2.colored {
  text-shadow: -.var(--header-shadow-distance) 0px 0px black, 0px -.var(--header-shadow-distance) 0px var(--murex), .var(--header-shadow-distance) 0px 0px var(--salina), 0px .var(--header-shadow-distance) 0px black;
}*/
#project-page h1.colored, #project-page h2.colored {
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px var(--spiruline), var(--header-shadow-distance) 0px 0px var(--spiruline), 0px var(--header-shadow-distance) 0px black;
}
#about-page h1.colored, #about-page h2.colored {
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px var(--murex), var(--header-shadow-distance) 0px 0px var(--murex), 0px var(--header-shadow-distance) 0px black;
}
#education-page h1.colored, #education-page h2.colored {
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px var(--salina), var(--header-shadow-distance) 0px 0px var(--salina), 0px var(--header-shadow-distance) 0px black;
}
h2.colored {
  font-size: 9.5pt;
line-height: 1.25em;
}
h2 {
  font-size: 14pt;
  margin-top: 24px;
}
h2:first-of-type {
  margin-top: 0px;

}
h3 {
  font-size: 11pt;
  margin: 10px 0px 5px 0px;
}
p {
  /*font-size: 20pt;
  line-height: 1.15em;
  font-family: 'herschey-noaille-futura';
  margin-bottom: 1.3em;*/

  /*line-height: 1.1em;*/

  font-size: 19pt;
  line-height: 1.25em;
  font-family: 'herschey-noaille-futura';
  letter-spacing: -0.03em;
}

body {
  margin-top: 10em;
}

#about-page #main {
  padding: 30px;
  width: 63%;
  display: inline-block;
  position: relative;
  /* background: white; */
  margin-top: 20px;
  padding: 100px;
  margin-left: 10%;
}
#main {
  padding: 30px;
  width: 55%;
  display: inline-block;
  position: relative;
  /* background: white; */
  margin-top: 20px;
  padding: 100px;
  margin-left: 16%;
}
.projects {
  padding: 30px;
  width: 35%;
  display: inline-block;
  position: relative;
  /* background: white; */
  margin-top: 20px;
  padding: 100px;
  margin-left: 16%;
}
/*div.projects:nth-of-type(even) {
    margin-left: 36%;
}*/
.projects:nth-of-type(3n) {
  margin-left: 36%;

}
#left-menu, #right-tags {
  display: inline-block;
  height: 100vh;
  /* float: left; */
  position: relative;
  padding: 0px 30px 0px 30px;

}
#left-menu {
  width: 25%;
  border-right: 2px solid blue;
  text-align: right;
  background: repeating-linear-gradient(30deg, blue, blue 1px, transparent 1px,transparent 4px);
  background-clip: content-box;
}
#right-tags {
  width: 25%;
  border-left: 2px solid blueviolet;
}

#menu {
  position: sticky;
  top: 10px;
  z-index: 1;
  /*margin-left: 50px;
  margin-right: 50px;*/
  /*font-size: 10pt;*/
  /*text-transform: uppercase;*/
  padding: 50px;
  margin-top: 40px;
}
nav#menu {
  position: fixed;
  z-index: 1000;

  font-size: 10pt;
  /*color:white;*/
  padding: 20px 20px 0px 34px;
  width: 100%;
  height: 70px;
background: repeating-linear-gradient(17deg, var(--chelodonium), var(--chelodonium) 1px, transparent 1px,transparent 4px);
}
#menu li {
    /*display: inline-block;
    margin-right: 30px;
    font-family: 'herschey-noaille-futura';*/
    /*display: inline-block;
margin-right: 30px;
font-family: 'herschey-noaille-futura';
text-transform: lowercase;
font-weight: bold;*/
/* background: white; */

display: inline-block;
margin-right: 30px;
font-family: 'herschey-noaille-futura';
text-transform: lowercase;
font-weight: bold;
background: white;
    padding: 4px 2px 2px 2px;

}
#menu a, .menu a:hover, .menu a:visited, li a, a {
    text-decoration: none;
    border-bottom: 0px solid;
}


figure:hover {
overflow: visible;
}
figure {
  overflow: hidden;
  width: 100%;
  float: left;
  position: relative;
  /*margin-top: 12px;
  margin-right: 19px;*/
}
figure img {
  width: 100%;
  object-fit: none;
}
#project-page .projects img:hover, #education-page .projects img:hover {
  width: 400%;
  margin-left: -300%;
  object-fit: contain;
  z-index: 100;
}
ul {
    margin-right: 15px;
}
ul li {
    list-style: none;
    line-height: 1.05em;
font-size: 11.5pt;
}
#main .colored-wrapper-content, .projects .colored-wrapper-content {
   background: white !important;
  padding: 20px;
}

#project-page a, a {
  color:var(--bleu);
}
#project-page a:hover {
  color:var(--spiruline);
}
#about-page a:hover {
  color:var(--murex);
}
#education-page a:hover {
  color:var(--salina);
}

.rightside, .leftside {
  position: fixed;
  width: 15%;
  margin-top: 95px;
  font-size: 10pt;
  padding: 25px;
  color:var(--bleu);

}
.leftside {
  /*border: 1px solid red;*/
  left: 0px;

}
.rightside {
    right: 0px;
}
.leftside li, .rightside li {
display: inline;
margin-right: 30px;
font-family: 'herschey-noaille-futura';
/*text-transform: lowercase;*/
font-weight: bold;
background: white;
font-size: 9.5pt;
line-height: 1.35em;
display: table;
        padding: 4px 2px 2px 2px;
        text-transform: uppercase;
}
.leftside li footer, .rightside li footer {
  text-transform: initial;
  font-weight: normal;
font-size: 10pt;

}
.rightside li figure {
  display: none;
}
.rightside li:hover figure {
  display: block;
}
p.footer-more {
  font-size: 12pt;
  font-weight: bold;
  font-family: 'herschey-noaille-futura';
      line-height: 2.25em;
      color:var(--bleu);
          line-height: 1.25em;
}
.projects .figure {
  width: 40%;
  margin-right: 18px;
  float: left;
  position: relative;

}
.projects div figure {
  position: unset;
  float: none;
}

figcaption {
  font-weight: bold;
color: var(--bleu);
text-align: center;
    font-size: 8pt;
  }
.projects h2 {
      margin-bottom: 18px;
      line-height: 2em;
}
.projects p {
      font-size: 13.5pt;
      line-height: 1.4em;
      letter-spacing: -0.03em;
}
.projects p + p {
      margin-top: 16pt;
 }
 .projects figure + figure {
       margin-top: 10px;
 }

 .anchor {
   padding-top: 50px;
 }
